* {
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
body{
    background-color: rgba(69, 235, 54, 0.836);
    display: flex;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 6em;

}
h1 {
    font-size: 100px;
    color:rgba(0, 0, 0, 0.8);

}
.lyric-letra{
    background-color: rgb(255, 255, 255);
    padding: 0.3em;
    font-size: 30px;
    width: 40%;
    margin: 3px;
}
.lyric-celular{
    background-color: rgb(255, 255, 255);
    padding: 0.3em;
    font-size: 30px;
    width: 40%;
    margin: 3px;
}
.save_btn{
  font-weight: bolder;
  font-size: 25px;
  color: whitesmoke;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  cursor: pointer;
  background-color: black;
  margin: 3px;
}